@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html {
  box-sizing: border-box;
  margin: 0 auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Anton', sans-serif;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  max-width: 2500px;
  background-color: #000;
  color: #fefefe;
}

main {
  flex-grow: 1;
}

header,
main,
footer {
  flex-shrink: 0;
}

header {
  background-color: #ec1d24;
  display: flex;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fefefe;
}

a:focus:active {
  outline: 0;
  box-shadow: none;
}

a:hover {
  color: #000;
}

nav a {
  background-color: #fefefe;
  color: #ec1d24;
  border-radius: 2px;
  margin: 0 0.3rem;
  padding: 0 0.5rem;
}

p a:hover {
  color: #ec1d24;
}

.logo {
  background-color: #ec1d24;
  color: #fefefe;
  border-radius: 2px;
  font-size: 5rem;
  margin: 1rem;
  padding: 0 1rem;
}

.current {
  background-color: rgb(70, 70, 70);
}

.index-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  row-gap: 1rem;
}

.index-title {
  font-size: 3rem;
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  border: 3rem solid #ec1d24;
  margin: 0;
}

.trina {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.trina-photo {
  grid-column: 3 / -1;
  grid-row: 1 / 2;
  width: 75%;
  border-radius: 50%;
  margin: 1rem;
}
.gail {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.gail-photo {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  width: 75%;
  border-radius: 50%;
  margin: 1rem;
}

.names {
  font-size: 2.5rem;
  text-align: center;
}

.gallery-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  padding-bottom: 2.5rem;
  margin: 0 1rem;
}

.gallery-section {
  margin: 0 2rem;
}

.gallery-name {
  font-size: 2rem;
  padding: 0 0.5rem;
  margin-top: 1rem;
  text-align: center;
}

h3 {
  margin: 0;
  padding: 0 1rem;
}

h3:hover {
  color: #ec1d24;
}

.bio-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  padding-bottom: 2.5rem;
  margin: 0 auto;
}

.bio-content h1 {
  text-align: center;
  margin-bottom: 2rem;
}

img {
  width: 100%;
  margin: 1rem;
}

figure {
  width: 80vw;
  height: auto;
  margin: 0 auto;
}

figcaption {
  font-size: 0.7rem;
}

footer {
  background-color: #ec1d24;
  width: 100%;
  height: 4rem;
  text-align: center;
  padding: 1rem;
}

footer a {
  text-decoration: none;
  cursor: pointer;
  list-style-type: none;
  color: #fefefe;
}

@media (min-width: 480px) {
  nav a {
    font-size: 1rem;
    margin-left: 5rem;
  }

  .names {
    font-size: 3.5rem;
  }
  iframe {
    width: 100%;
    height: 350px;
  }
  .photo-bio {
    width: 40%;
    margin: auto;
  }
  #trina-comics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-items: stretch;
    margin: 0 auto;
  }
  #gail-comics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-items: stretch;
    margin: 0 auto;
  }
  h3 {
    font-size: 0.7rem;
  }
}
@media (min-width: 650px) {
  nav a {
    font-size: 1.5rem;
    margin-left: 8rem;
  }

  .names {
    font-size: 4.5rem;
  }

  .article {
    width: 80%;
    padding: 1rem;
    margin: 1rem auto;
  }
  .photo-bio {
    width: 40%;
    margin: auto;
  }
  .gallery-section {
    margin: 0 2rem;
  }

  #trina-comics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-items: stretch;
    margin: 0 auto;
  }
  #gail-comics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-items: stretch;
    margin: 0 auto;
  }
}
@media (min-width: 950px) {
  nav a {
    font-size: 2.5rem;
    margin-left: 10rem;
  }

  .names {
    font-size: 6rem;
  }

  .index-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 1rem;
    padding: 0 1rem;
  }

  .index-title {
    font-size: 5rem;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    border: 3rem solid #ec1d24;
    margin: 1rem 5rem;
    padding: 1rem;
  }

  .trina {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .trina-photo {
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    width: 75%;
    border-radius: 50%;
    margin: 1rem;
  }
  .gail {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .gail-photo {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    width: 75%;
    border-radius: 50%;
    margin: 1rem 7rem;
  }

  .gallery-content {
    width: 90vw;
  }

  .gallery-content p {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }
  figure {
    width: 70%;
    height: 100%;
    margin: auto;
  }
  .article {
    font-size: 1.5rem;
    width: 80%;
    padding: 1rem;
    margin: 1rem auto;
  }

  .photo-bio {
    width: 40%;
    margin: auto;
  }
  #trina-comics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-items: stretch;
    margin: 0 auto;
  }
  #gail-comics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-items: stretch;
    margin: 0 auto;
  }
}
@media (min-width: 2000px) {
  header {
    height: 10rem;
  }
  nav a {
    font-size: 4rem;
    margin: 2rem 19rem;
  }

  .names {
    font-size: 10rem;
  }

  .index-title {
    font-size: 15rem;
    border: 10rem solid #ec1d24;
    margin: 0 7rem 1rem;
  }
  .gallery-content p {
    font-size: 3rem;
  }
  .gallery-content h1 {
    font-size: 4rem;
  }

  figure {
    width: 80%;
    height: 100%;
    margin: auto;
  }
  .article {
    font-size: 2rem;
    width: 80%;
    padding: 1rem;
    margin: 1rem auto;
  }

  footer {
    height: 10rem;
    font-size: 3rem;
  }
}
